
html{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient( 100deg, #FAD7A1 60%, #E96D71 100%);
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    width: 92%;
    margin: 0px auto;
    max-width: 700px;
}

/* 
Header
*/
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.page-header a.logo {
    text-decoration: none;
    width: 25%;
    display: inline-block;
}

/* 
 Medium devices (landscape tablets, 768px and up) 
*/
@media only screen and (min-width: 768px) {
    .page-header a.logo {
        width: 15%;
    }
}

.page-header .page-menu{
    width: 50%;
    display: none;
    font-family: 'Passion One', Charcoal, sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
}

.page-header .page-menu ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .page-header .page-menu {
        display: flex;
    }
}

.page-header .page-menu ul li {
    margin-left: 20px;
    display: block;
}
.page-header .page-menu ul li a {
    text-decoration: none;
    color: black;
}

.page-header .page-menu ul li a:hover {
    color: palevioletred;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}


/* 
MAIN 
*/
.page-content {
   margin-bottom: 40px;
}

/* 
Article personal-description
 */

.page-title{
    background: center center url(images/confeti.png) no-repeat;
    height: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Passion One', Charcoal, sans-serif;
    font-size: 24px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-shadow: 1px 1px 0px white;
}

h1 {
    font-family: 'Passion One', Charcoal, sans-serif;
    letter-spacing: 2px;

}
 
h2 {
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 24px;
    text-transform: uppercase;
}

p {
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
}


/* 
Aside skills
 */

.skills {
    margin-bottom: 25px;
}

.skill {
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0px;
}

/*
 Medium devices (landscape tablets, 768px and up) 
 */

@media only screen and (min-width: 768px) {
    h2.skills-title{
        width: 100%;
    }
    .skills {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .skill {
        width: 48%;
    }
    
}

/* 
Progress bars
 */
.skill-progress {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 45px;
    padding-right: 10px;
    color: #333;
    width: 0px;
    height: 25px;
    border-radius: 8px;
    background-color: palevioletred;
}

/* 
Animation progress bars
*/
.skill-progress.baile {
    animation-name: baile-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background-color: violet;
   }

@keyframes baile-bar {
    from {
      width: 0%;
    }
    to {
      width: 70%;
    }   
  }

.skill-progress.risa {
    animation-name: risa-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background-color: #E96D71;
   }
@keyframes risa-bar {
    from {
    width: 0%;
    }
    to {
    width: 85%;
    }   
}

.skill-progress.disfraz {
    animation-name: disfraz-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    background-color: orangered;
}
@keyframes disfraz-bar {
    from {
    width: 0%;
    }
    to {
    width: 65%;
    }   
}

.skill-progress.alegria {
    animation-name: alegria-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
   }
@keyframes alegria-bar {
    from {
    width: 0%;
    }
    to {
    width: 90%;
    }   
}

/* 
Aside form 
*/

legend {
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 900;
    margin-bottom: 10px;
}

/* 
fieldset
 */
fieldset {
    margin-bottom: 20px;
    border: none;
    padding: 0px;
}
.fieldset-item {
    margin: 10px 0px;
}
/* 
 Medium devices (landscape tablets, 768px and up) 
*/

@media only screen and (min-width: 768px) {
    fieldset.contact {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    fieldset.contact legend {
        width: 100%;
    }

    fieldset.contact .fieldset-item{
        width: 48%;
    }
}

.fieldset-item label {
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
}

.fieldset-item input[type="text"], .fieldset-item input[type="tel"], textarea {
    padding: 8px 15px;
    border: 1px solid #aaaaaa;
    width: 100%;
    border-radius: 12px;
    font-family: "open sans", sans-serif;
}

textarea {
    height: 100px;
}

.data-sent {
    text-align: center;
    font-family: 'Passion One', Charcoal, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    text-shadow: 1px 1px 0px white;
}

.data-sent a {
    color: black;
    font-weight: bold;
}

/* 
Button 
*/
.contact-form button {
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #e96d71;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding: 10px 20px;
}

.contact-form button:hover {
    background-color: #fff;
    color: palevioletred;
    cursor: pointer;
    border-color: palevioletred;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

/* 
FOOTER 
*/
.page-footer {
    text-align: center;
    margin-bottom: 20px;
   
}
.page-footer a {
    margin: 0px 10px;
    text-decoration: none;
}
.page-footer img {
    width: 15%;
    max-width: 60px;
}

