

body {
    background-image: linear-gradient( 100deg, #FAD7A1 60%, #E96D71 100%);
}

/* 
 HEADER 
 */

.page-header {
    width: 100%;
    padding: 10px 0px;
   
}

.page-header a {
    text-decoration: none;
}

.page-header img {
    width: 20%;
    margin-left: 10px;
}


/* 
Estilos del MAIN 
*/
.page-content {
   
}

/* 
Article personal-description
 */

.page-title{
    background: center center url(images/confeti.png) no-repeat;
    height: 400px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    font-variant: small-caps;

}

h1 {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 2px;

}
 
h2 {
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 400;
}

p {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 400;
    text-align: justify;
    padding: 0px 10px;
}



/* 
Aside personal-skills
 */

.skills {
    padding-bottom: 25px;
}

.skill {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

/* 
Barra de progreso
 */
.skill-progress {
    width: 0px;
    height: 25px;
    border-radius: 8px;
    background-color: palevioletred;
    padding-bottom: 5px;
}

/* 
Barra de progreso animada
*/
.baile {
    animation-name: baile-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
   }

@keyframes baile-bar {
    from {
      width: 0%;
    }
    to {
      width: 70%;
    }   
  }

.risa {
    animation-name: risa-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
   }
@keyframes risa-bar {
    from {
    width: 0%;
    }
    to {
    width: 85%;
    }   
}

.disfraz {
    animation-name: disfraz-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes disfraz-bar {
    from {
    width: 0%;
    }
    to {
    width: 65%;
    }   
}

.alegria {
    animation-name: alegria-bar;
    animation-duration: 7s;
    animation-iteration-count: infinite;
   }
@keyframes alegria-bar {
    from {
    width: 0%;
    }
    to {
    width: 90%;
    }   
}

/* 
Aside form 
*/

legend {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 900;
}

/* 
fieldset
 */
fieldset {
    margin-bottom: 20px;
}
.fieldset-item {
    padding-bottom: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: 700;
}

/* 
Button 
*/
.button {
    border-radius: 8px;
    background: #e96d71;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/* 
Estilos del FOOTER 
*/
.page-footer {
    text-align: center;
    padding: 15px;
    border-radius: 20px;
   
}
.page-footer a {
    margin: 0px 10px;
    text-decoration: none;
}
.page-footer img {
    width: 15%;
}

