* {
box-sizing: border-box;
}

/* Estilos de la HEADER */
.page-header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
    left: 0px;
    padding: 10px 0px;
   
}

.page-header a {
    text-decoration: none;
}

.page-header img {
    width: 30%;
    margin-bottom: ;
}


/* Estilos del MAIN */
.page-content {
    margin-top: 75px; 
}

/* Article personal-description */
.page-title{
    background: center center url(images/personal-image-encarna-vales.png) no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aside personal-skills */
.skills-title {

}

.skill {
    
}

.skills-progress {
    height: 25px;
    border-radius: 8px;
    background-color: palevioletred;
}

/* Aside form */
.contact-form {
    
}

.form-item {
    
}

/* fieldset */
.fieldset-item {

}

/* Button */
.button {

}



/* Estilos del FOOTER */
.page-footer {
    text-align: center;
    background-color: papayawhip;
    padding: 15px;
}
.page-footer a {
    margin: 0px 10px;
    text-decoration: none;
}
.page-footer img {
    width: 15%;
    height: auto;
}

 
