* {
box-sizing: border-box;
}

/* Estilos de la HEADER */
.page-header {
}


/* Estilos del MAIN */
.page-content {  
}

/* Article personal-description */
.page-title{
    background: center center url(images/personal-image-encarna-vales.png) no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Aside personal-skills */

/* Aside form */
.contact-form {
    
}

.form-item {
    
}

/* fieldset */
.fieldset-item {

}

/* Button */
.button {

}



/* Estilos del FOOTER */
.page-footer {
}
